<a href="https://colab.research.google.com/github/SaiNithin73/AIML-models/blob/main/dataset_mod_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
df=pd.read_csv('/content/insurance.csv')
print(df.head(19))

    age     sex     bmi  children smoker     region      charges
0    19  female  27.900         0    yes  southwest  16884.92400
1    18    male  33.770         1     no  southeast   1725.55230
2    28    male  33.000         3     no  southeast   4449.46200
3    33    male  22.705         0     no  northwest  21984.47061
4    32    male  28.880         0     no  northwest   3866.85520
5    31  female  25.740         0     no  southeast   3756.62160
6    46  female  33.440         1     no  southeast   8240.58960
7    37  female  27.740         3     no  northwest   7281.50560
8    37    male  29.830         2     no  northeast   6406.41070
9    60  female  25.840         0     no  northwest  28923.13692
10   25    male  26.220         0     no  northeast   2721.32080
11   62  female  26.290         0    yes  southeast  27808.72510
12   23    male  34.400         0     no  southwest   1826.84300
13   56  female  39.820         0     no  southeast  11090.71780
14   27    male  42.130         0    yes  southeast  39611.75770
15   19    male  24.600         1     no  southwest   1837.23700
16   52  female  30.780         1     no  northeast  10797.33620
17   23    male  23.845         0     no  northeast   2395.17155
18   56    male  40.300         0     no  southwest  10602.38500

In [4]:
df.drop('region', axis = 1, inplace = True)
print(df)

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [5]:
df['smoker']=df['smoker'].replace(['yes','no'],[1,0])
print(df)

      age     sex     bmi  children  smoker      charges
0      19  female  27.900         0       1  16884.92400
1      18    male  33.770         1       0   1725.55230
2      28    male  33.000         3       0   4449.46200
3      33    male  22.705         0       0  21984.47061
4      32    male  28.880         0       0   3866.85520
...   ...     ...     ...       ...     ...          ...
1333   50    male  30.970         3       0  10600.54830
1334   18  female  31.920         0       0   2205.98080
1335   18  female  36.850         0       0   1629.83350
1336   21  female  25.800         0       0   2007.94500
1337   61  female  29.070         0       1  29141.36030

[1338 rows x 6 columns]

/tmp/ipython-input-5-3566945332.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['smoker']=df['smoker'].replace(['yes','no'],[1,0])

In [8]:
df['sex']=df['sex'].replace(['male','female'],[1,0]).infer_objects(copy=False)
print(df)

      age  sex     bmi  children  smoker      charges
0      19    0  27.900         0       1  16884.92400
1      18    1  33.770         1       0   1725.55230
2      28    1  33.000         3       0   4449.46200
3      33    1  22.705         0       0  21984.47061
4      32    1  28.880         0       0   3866.85520
...   ...  ...     ...       ...     ...          ...
1333   50    1  30.970         3       0  10600.54830
1334   18    0  31.920         0       0   2205.98080
1335   18    0  36.850         0       0   1629.83350
1336   21    0  25.800         0       0   2007.94500
1337   61    0  29.070         0       1  29141.36030

[1338 rows x 6 columns]

In [11]:
df['sex']=df['sex'].replace(['male','female'],[1,0])

pd.set_option('future.no_silent_downcasting', True)

In [10]:
x = df[['sex','children','smoker']]
y = df['charges']

In [12]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=42)
model = LinearRegression()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
mse = mean_squared_error(y_test,y_pred)
r2 = r2_score(y_test,y_pred)
print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 52089730.05357472
R-squared: 0.6644756478648914

In [16]:
for i in range(2, 10):
  print(f"Actual: {y_test.iloc[i]} ,Predicted: {y_pred[i]}")

Actual: 29330.98315 ,Predicted: 31072.248332583084
Actual: 9301.89355 ,Predicted: 9730.353653382906
Actual: 33750.2918 ,Predicted: 31084.53395781185
Actual: 4536.259 ,Predicted: 8524.977885156299
Actual: 2117.33885 ,Predicted: 7910.004375814222
Actual: 14210.53595 ,Predicted: 7922.290001042994
Actual: 3732.6251 ,Predicted: 7910.004375814222
Actual: 10264.4421 ,Predicted: 9730.353653382906

In [13]:
new_data=pd.DataFrame([[1,4,1]], columns=x_train.columns)
predicted_charges=model.predict(new_data)
print(f"Predicted Charges: {predicted_charges[0]}")

Predicted Charges: 33495.28549426507